@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/* Estilo menu */
.menu {
  background-color: black;
  font-size: 25px;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 60px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}
ul :hover {
  cursor: pointer;
}

.menu-item a {
  color: white;
}
.menu-item :hover {
  color: grey;
}

.menu-item-activo a {
  font-size: 1, 9em;
  color: darkgoldenrod;
}

#check-menu, label.menu-mobile {
  display: none;
}

/* Estilos mains */
main {
  color: rgb(64, 64, 68);
  padding: 20px;
}

.card {
  background-color: lightgrey;
  padding: 20px 20px 0px 20px;
}
.card h2 {
  padding-top: 10px;
}

section {
  padding: 20px;
}

h1 {
  padding-bottom: 20px;
}

.redes h2 {
  color: black;
}

/* Estilos fotter */
footer {
  background-color: grey;
  width: auto;
  height: auto;
  align-items: center;
}

.pie {
  margin: 0px;
}
.pie p, .pie a, .pie ul {
  color: white;
  font-size: 1em;
  justify-content: center;
  padding: 0px 8px;
}
.pie h3 {
  color: black;
  font-size: 1.2em;
}
.pie .dis {
  color: darkgoldenrod;
  background-color: black;
  margin: 0px;
  padding: 5px;
  padding-left: 20px;
}

/* Estilos de imagenes */
img.mediana {
  width: 250px;
  height: 250px;
}

img.galeria {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img.pequeña {
  width: 25px;
  height: 25px;
}

img.logo-pequeño {
  width: auto;
  height: 40px;
}

img.slide {
  height: 500px;
  object-fit: cover;
}

img.servicios {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Estilos Flexbox*/
.contenedor-padre {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.contenedor-hijo {
  background-color: lightgrey;
  width: 350px;
  height: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.index-hijo {
  width: 800px;
  height: auto;
  padding: 10px;
  text-align: justify;
  justify-content: center;
  font-size: 1.4em;
}

.redes ul {
  display: flex;
  flex-direction: column;
  color: black;
}

/* Estilos GRID */
.galeria {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(4, 250px);
  gap: 5px;
}
.galeria img {
  border-radius: 5px;
}

/* Media queries */
/* Celular */
@media (max-width: 767px) {
  .menu {
    position: sticky;
    top: 0;
    text-decoration: none;
  }
  .menu ul {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: black;
    width: auto;
    height: auto;
    font-size: 1.1em;
    align-items: center;
    gap: 10pc;
  }
  label.menu-mobile {
    display: block;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    padding-left: 10px;
    justify-content: center;
  }
  #check-menu:checked ~ ul {
    display: block;
  }
  .card {
    width: 400px;
  }
  img.pequeña {
    width: 15px;
    height: 15px;
  }
  .pie {
    height: auto;
    gap: 10px;
  }
  .pie p, a, ul {
    font-size: 0.9em;
    padding: 0px;
    margin-top: 10px;
  }
  .pie ul {
    margin-top: 0px;
  }
  .pie h3 {
    font-size: 0.9em;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .der-dis-lg {
    display: none;
  }
  .pie p {
    justify-content: center;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .pie {
    height: auto;
    gap: 10px;
  }
  .pie p, a, ul {
    font-size: 0.9em;
    padding: 0px;
    margin-top: 10px;
  }
  .pie ul {
    margin-top: 0px;
  }
  .pie h3 {
    font-size: 0.9em;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .der-dis-lg {
    display: none;
  }
  .pie p {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
