/* Media queries */
/* Celular */
@media (max-width: 767px) {

    .menu {
      position: sticky;
      top: 0;
      text-decoration: none;
      ul {
        display: none;    
        position: absolute;
        flex-direction: column;
        background-color: black;
        width: auto;
        height: auto; 
        font-size: 1.1em;
        align-items: center;
        gap: 10pc;  
      }
    }
    
  
    label.menu-mobile {
      display: block;
      font-size: 1.5em;
      color: white;
      cursor: pointer;
      padding-left: 10px;
      justify-content: center;
    }

  #check-menu:checked ~ul{
    display: block;
  }
 
    .card {
      width: 400px;
    }
  
    img.pequeña{
      width: 15px;
      height: 15px;
    }

    .pie {
      height: auto;
      gap: 10px;  
    }
    .pie p, a, ul{
      font-size: 0.9em;
      padding: 0px;
      margin-top: 10px;
    } 
    .pie ul {
        margin-top: 0px;
    }
    .pie h3 {
      font-size: 0.9em;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .der-dis-lg {
        display: none;
    }
    
    .pie p {
        justify-content: center;
    }
  }
  

  /* Tablet */
@media (min-width:768px) and (max-width: 991px) {

    .pie {
      height: auto;
      gap: 10px;  
    }
    .pie p, a, ul{
      font-size: 0.9em;
      padding: 0px;
      margin-top: 10px;
    } 
    .pie ul {
        margin-top: 0px;
    }
    .pie h3 {
      font-size: 0.9em;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 0px;
    }
    .der-dis-lg {
        display: none;
    }
    
    .pie p {
        justify-content: center;
    }
  }
  